@media (max-width:576px){
  .todo-box{
    width: 95%;
  }
  #task-form{
    flex-direction: column;
    gap: 25px
  }
  .inp-div , .btn-div , .submit-btn{
    width: 100%;
    margin: 0;
  }
  .inp-box {
    flex-direction: column;
    gap: 15px;
    width: 100%;
}
}